<library path="src">
  <class name="controller" type="controller.PluginUi" base_class_type="rqt_gui_py::Plugin">
    <description>
      Qt based user interface for space concordia rover
    </description>
    <qtgui>
      <label>Rover Controller 1.0</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>